/* 내 방법
.con {
    width: 100px;
    height: 100px;
    margin: 10% auto;
    background-color: white;
}
.box {
    width: 100px;
    height: 100px;
    margin: 20% auto;
    border: dashed 2px pink;
}
 */

 /* 강사님 방법 */
 .con {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    top: 300px;
    left: 300px;
 }

 .box {
    position: absolute;
    width: 70%;
    height: 70%;
    transform: translate(22%, 22%);
    /* 지정한만큼 이동하는 효과주는 속성을 응용 */
 }

 .busted {
    background-color: beige;
 }