body {
    padding: 0;
    margin: 0;
}

.con {
    width: 100vw;
    height: 100vh;
    background-image: url(./image/bgi.png);
    background-size: cover;
}

.in-memo {
    padding: 10px;
    width: 100px;
    height: 100px;
    /* background-image: url(./image/memo_1.png); */
    background-size: cover;
    border: none; 
    outline: none;
}