
div {
    width: 150px;
    height: 50px;
    margin: 5px;
}
.div-1 {
    background: radial-gradient(white, blue);
}
.div-2 {
    background: radial-gradient(circle, white, blue);
}
.div-3 {
    background: radial-gradient(circle closest-corner, white, blue 50%);
}
.div-4 {
    background: radial-gradient(circle at 50% 50%, white, blue 25%, white);
    %);
}