.user-info-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-info-box img {
    width: 70px;
    margin: 0 10px;
}

.user-info-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.user-info-box button {
    width: 100px;
}

/* .btn-submit {
    border-radius: 15px;
    font-size: 1rem;
    height: 40px;
    line-height: 40px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    background-color: rgb(239, 239, 239);
} */