.main {
    position:relative;
}
.main_img {
    width: 50px;
    height:40px;
}
.main_img_text {
    color: white;
    font-size: 10px;
    position: absolute;
    bottom: 50;
    background-color: rgba(0, 0, 0, 70%);
}