div,span {
    border: 3px solid #000;
    margin: 10px;
}
.none {
    display: none;
}
.black {
    display: block;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
span {
    width: 100px;
    display: inline-block;
}