/* flex box 
행 또는 열로 항목의 무리를 배치하는 1차원 레이아웃 시스템
*/
.container {
    background-color: blueviolet;
    /* padding: 5px 0; */
    display: flex;
    /* 주축의 방향 조절하는 속성 */
    /* flex-direction: row; */
    /* flex-wrap : 항목의 줄을 바꿀지 말지 지정 */
    /* flex-wrap: wrap; */
    /* flex-flow : direction과 wrap을 한번에 지정 */
    flex-flow: row wrap;
    /* justify-content : 주축을 기준으로 정렬*/
    /* justify-content: space-around; */

    /* align-items : 교차축을 기준으로 정렬 */
    height: 200px;
    /* align-items: stretch; */

    /* align-self : 교차축 기준으로 하나의 아이템을 정렬 */
    /* align-content : 교차축 여러줄을 어떻게 정렬할 건가 */
    align-content: center;

}
.item {
    background-color: skyblue;
    width: 150px;
    height: 30px;
    border: 1px solid black;
}
/* .item5 {
    align-self: flex-start;
} */